$baseColor: #fff;

body {
  .register {
    padding: 1.25rem;
    margin-top: 1rem;
    border: solid 1px #a0a0a0;
  }
  .ninja {
    width: 400px;
    height: 374px;
    margin: 0 auto;
    background: url('../images/ninja_kaginawa.png');
    background-repeat: no-repeat;
  }
}